.test, .bg-dark {
  background-color: #223f5a !important;
}

// see 
// https://getbootstrap.com/docs/4.3/layout/overview/#responsive-breakpoints

@media (min-width: 768px) {
  .mobile-only {
    display: none !important
  }
  .desktop-only {
    display: block !important
  }
}

@media (max-width: 768px) {
  .mobile-only {
    display: block !important
  }
  .desktop-only {
    display: none !important
  }
}

